body {
  font-family: 'Courier New';
  font size: 6px;
  text-decoration: normal;
  text-align: center;
  background-color: darkgrey;

}

.sub {
  color: #6e6551;
}

h1 {
  color: #524b3d;
}

.edit {
  color: #b3aa92;
  background-color: #c2bdb0;
  font-size: 20px;

}

.coffee-stain {
  background-color: #4f4323;
}

.normal {
  text-decoration: underline;
}

#images img {
  position: relative;
  height: 300px;
  width: 250px;

}
